{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмишки</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'main/css/FilmsBlock.css' %}">
<link rel="stylesheet" href="{% static 'main/css/DropdownMenu.css' %}">

<script>
  /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    document.getElementById("myDropdown").onclick = onClick
  }

  
  // Close the dropdown if the user clicks outside of it
  function onClick(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

<body style="background-color: #1b1b35; ">
    <div style="border: 2px solid black; height: 100%; margin-left: 0%; background-color: #1A1D33; position: fixed; padding-top: 20px; top: 0; left: 0; flex-wrap: wrap; display: block;">
        <nav>
            <form class="form-inline" method="post" action="Search" style="padding: 10%;">
              {% csrf_token %}
              <input class="form-control mr-sm-2" type="search" name = "Search" placeholder="Search" aria-label="Search">
              <div style="margin-top: 10%;"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> </div> 
            </form>
        </nav>

        <div style="padding: 10px; margin-left: 10px; margin-top: 10px;">
          <form action="/">
            <button class="dropbtn" style="background-color: green;">Home</button>
          </form>
        </div>

        <div class="dropdown" style="margin-top: 50px;">
          <button onclick="myFunction()" class="dropbtn">Категории</button>
          <div id="myDropdown" class="dropdown-content">
            {% for item in categoryes %}
              <form action="Genre" method="post">
                {% csrf_token %}
                <input type="hidden" name="genre" value = {{ item.genre }}>
                <input type="hidden" name="category" value = {{ item.name }}>
                {% if item.isCurrent %}
                  <button style="background-color: green;"> {{ item.name }} </button>
                {% else %}
                  <button > {{ item.name }} </button>
                {% endif %}
              </form>
            {% endfor %}
          </div>
        </div>

        {% if isAdmin %}
        <div style="padding: 10px; margin-left: 10px; margin-top: 10px;">
          <form action="AddFilmPage">
            <button class="dropbtn" style="background-color: red;">Add</button>
          </form>
        </div>
        {% endif %}
    </div>

    

    <div style="display: flex; flex-wrap: wrap;">
      {% block category %}
      {% endblock %}

      {% block content %}
      {% endblock %}
  </div>
</body>
</html>